<!DOCTYPE html>
<html lang="es">
    <head>
        <link href="<%= url('/css/main.css') %>" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
        <meta charset="UTF-8">
        <title>Detector de palabras mágicas</title>
    </head>
<body>
    <div  class="magical-font">
        <h1>Subsecretaria de Asuntos Magicos</h1>
    </div>
    <div class="align">
            <div class="center">
                <h3><label>Detector de palabras mágicas</label></h3>
                <form action="/check_palindrome/:aText" method="post">
                    <label>Texto:</label>
                    <br>
                    <textarea name="post[aText]" cols="80" rows="30" class="transparent"></textarea>
                    <br><br>
                   # <input type="button" value="Verificar" id="SubmitBtn"/>
                   <input type="submit" value="Verificar" id="SubmitBtn"/>
                    <br><br>
                </form>

            <label class="magical-common-font" id="content"></label>
</body>
</html>

<script>

<script>